:{$CADDY_PORT} {
	@ws {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	handle @ws {
		reverse_proxy {$AGENT_HOST}:{$AGENT_PORT_WS}
	}
	handle {
		reverse_proxy {$AGENT_HOST}:{$AGENT_PORT_HTTPT}
	}
}
